$space: space-between;
$space-pad: space-around;

@mixin flex-line($flex-line) {
  display: flex;
  flex-direction: $flex-line;
}

@mixin flex-wrap {
  align-self: center;
  min-width: 1200px;
  padding: 0 $global-padding;

  @media screen and (max-width: 1200px) {
    min-width: 100%;
  }
}

@mixin flex($just) {
  display: flex;
  justify-content: $just;
}
