$nav-bg-color: #c8c8c8;
$main-black-color: #333333;
$main-color: #F3A541;
$main-color-activ: #F4901E;
$main-medium-color: #E3E3E3;
$main-light-color: #EFEFEF;
$main-dark-color: #666666;
$main-navigation-fonts: #C9C9C9;
$main-navigation-hover: #4D4D4D;
