.lok-footer {
  background-color: $main-color;
  width: 100%;
}

#map {
  background-color: #989898;
}

.lok-addres {
  background-color: #656565;
  padding: 1rem;
  color: #cbcbcb;

  &__item {
    display: flex;
    flex-direction: column;
  }

  & span {
    width: 100%;
    background-color: #cbcbcb;
    margin-bottom: 0.5rem;
    color: #7e7e7e;
    padding: 0.2em;
  }

  & b {
    color: #cbcbcb;
    margin-bottom: 0.5rem;
  }
}

.under-footer {
  background-color: $main-black-color;
  justify-content: center;

  &__text {
    padding: 0.5rem;
    text-align: center;
    color: $main-color;
  }

  small {
    color: $dark-gray;
  }
}
