.b-main__head-line {
  @include flex-line(column);
}

.main-logo {
  @include flex($space);
  &__logo {
    img {
      height: 75px;
    }
  }
  &__phone {
    @include flex-line(column);
    align-items: flex-end;
    justify-content: center;
  }
}

.head-nav {
  .top-menu {
    @include flex-line(row);
    @include flex(center);
    &__item {
      list-style-type: none;
      & > a {
        padding: $global-padding;
        text-transform: uppercase;
      }
    }
  }
}

.dropdown__item {
  position: relative;

  .item__drop {
    display: none;
    position: absolute;
    margin: 0;
    min-width: 200px;

    .drop__item {
      list-style-type: none;
      & > a {
        display: block;
        text-transform: uppercase;
        padding: $global-padding/2 $global-padding;
      }
    }
  }

  &:hover .item__drop {
    display: block;
  }
}
