.lok-header {
  display: flex;

  &__block {
    display: flex;
    background-color:#6c6c6c;
    width: 50%;
    transition: .25 ease-in;
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    transition: .3s ease-in;

    &.block-left {

      .blocks {
        text-align: right;
        right: -100%;
      }
    }

    &.block-right {
      justify-content: flex-start;

      .blocks {
        left: -100%;
      }
    }

  }
}


.blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  width: 40%;
  height: 100%;
  background-color: #9d9d9d;
  position: absolute;
  padding: 1rem;
  transition: .5s ease-out;

  &__header {
    display: block;
    color: $black;
    font-size: 2.4em;
    font-weight: $bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 0.4em;
  }

  &__description {
    color: $black;
    font-size: 1.2em;
    font-weight: $bold;
    line-height: 1.2;
    text-align: justify;
  }

  &__btn-desc {
    background-color: $white;
    margin: 0;
    padding: 0.8em  1em;
    text-align: justify;
    line-height: 1.2;
  }

  &__btn, &__btn-phone {
    color: $white;
    background-color: $dark-gray;
    text-transform: uppercase;

    &:focus {
      color: $white;
    }
  }

  &__btn {
    font-weight: $bold;
    display: block;
    text-align: center;
    padding: 0.6em;
    margin-bottom: 0.6em;
    transition: .25s ease-in;

    &:hover {
      color: $white;
      background-color: $medium-gray;
      transition: .25s ease-out;
    }
  }

  &__btn-phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &>span {
      text-align: center;
      width: 100%;
      padding: 0.6em;
      font-weight: $bold;
    }

    &>i {
      padding: 0.6em;
      font-size: 1.24em;
      color: $dark-gray;
      background-color: $white;
    }

    &:hover {
      color: $white;
      background-color: $medium-gray;
      transition: .25s ease-out;
    }
  }

  .block-left:hover & {
    right: 0;
  }

  .block-right:hover & {
    left: 0;
  }
}
