.lok-header {
  display: flex;
  margin-bottom: 3rem;

  &__block {
    display: flex;
    background-color:#6c6c6c;
    width: 50%;
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    transition: .25 ease-in;

    &.block-left {

      &::after {
        left: -1rem;
        right: 0;
      }

      .blocks {
        text-align: right;
        right: -40%;
      }
    }

    &.block-right {
      justify-content: flex-start;

      &::after {
        right: -1em;
        left: 0;
      }

      .blocks {
        left: -40%;
      }
    }
  }
}

.bg-img {
  object-fit: cover;
  transform: scale(1.2);
  filter: blur(0);
  transition: .25s ease-in;

  .block-left:hover &,
  .block-right:hover & {
    transform: scale(1.1);
    filter: blur(6px) grayscale(75%);
    transition: .4s ease-out;
  }
}

.blocks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  width: 40%;
  height: 100%;
  background-color: rgba(#fff, 0.75);
  padding: 1rem;

  transition: .25s ease-out;

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    content: "";
    height: 100%;
  }

  &__header {
    display: block;
    color: $black;
    font-size: 2.4em;
    font-weight: $bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 0.4em;
  }

  &__description {
    color: $black;
    font-size: 1.2em;
    font-weight: $bold;
    line-height: 1.2;
    text-align: justify;
  }

  &__btn-desc {
    background-color: $white;
    margin: 0;
    padding: 0.8em  1em;
    text-align: justify;
    line-height: 1.2;
  }

  &__btn, &__btn-phone {
    color: $white;
    text-transform: uppercase;

    &:focus {
      color: $white;
    }
  }

  &__btn {
    font-weight: $bold;
    display: block;
    text-align: center;
    padding: 0.6em;
    margin-bottom: 0.6em;
    transition: .25s ease-in;
    background-color: $main-color;

    &:hover {
      color: $white;
      background-color: $main-color-activ;
      transition: .25s ease-out;
    }
  }

  &__btn-phone {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: $main-black-color;

    &>span {
      text-align: center;
      width: 100%;
      padding: 0.6em;
      font-weight: $bold;
    }

    &>i {
      padding: 0.6em;
      font-size: 1.24em;
      color: $main-black-color;
      background-color: $main-color;
    }

    &:hover {
      color: $white;
      background-color: $main-dark-color;
      transition: .25s ease-out;
    }
  }

  .block-left:hover & {
    right: 0;
  }

  .block-right:hover & {
    left: 0;
  }
}
