.lok-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #656565;
  &__navigation {

  }
   a {
    color: #656565;
  }
  &__logo {
    margin: 0;
    line-height: 1;
    padding: 1em;font-size: 1.2em;
    background-color: #989898;
    color: #656565;
    text-decoration: none;
  }
}


.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;


  .navigation__items {
    list-style-type: none;
    height: 100%;

    &:last-child{
      background-color: #989898;
    }
    .item {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 1em;
      color: #919191;

      &:hover {
        background-color:darken($nav-bg-color,10%);
      }
      i {
        display: block;

        :last-child{
          background-color: #989898;
          color: #777777;
        }
      }
    }
  }
}
