.lok-navbar {
  display: flex;
  justify-content: space-between;

  &__navigation {
  }
}

.navigation {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;

  .navigation__items {
    list-style-type: none;
    height: 100%;

    .item {
      display: flex;
      align-items: center;
      height: 100%;
      i {
        display: block;
      }
    }
  }
}
