<div class="lok-clients row">
  <div class="lok-clients__title columns">
    <h2>Загаловок наши клиенты</h2>
  </div>

  <div class="lok-clients__discription">
    <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Первую рот себя дал единственное. Не решила взгляд которое пояс! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рекламных лучше языкового переписали, дал свою жаренные подпоясал силуэт безорфографичный.</span>
  </div>

  <div class="lok-clients__blocks columns">
    <div class="block small-12 medium-3"></div>
    <div class="block small-12 medium-3"></div>
    <div class="block small-12 medium-3"></div>
    <div class="block small-12 medium-3"></div>
  </div>

</div>
