<div class="lok-content row">
  <div class="lok-content__title columns">
    <h2>Заголовок продукта</h2>
  </div>

  <div class="lok-content__description columns">
    <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Бросил большого строчка страна своих, повстречался маленький осталось назад даль дороге приставка! Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Дал, запятой!</span>
  </div>

  <div class="lock-content__products columns">
    <div class="product columns">
      <div class="picture small-2 medium-2 columns">

      </div>
      <div class="description small-6 medium-6 columns">
        <h4>Заголовок товара</h4>
        <div class="span">
          <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Агентство, от всех силуэт о буквоград! Запятой курсивных первую собрал но безорфографичный всемогущая необходимыми раз маленькая!</span>
        </div>
      </div>
      <div class="more-products small-2 medium-2 columns">Далеко-далеко за словесными горами в стране.</div>
      <div class="price small-2 medium-2 columns">
      </div>
    </div>

    <div class="product columns">
      <div class="picture small-2 medium-2 columns">

      </div>
      <div class="description small-6 medium-6 columns">
        <h4>Заголовок товара</h4>
        <div class="span">
          <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Агентство, от всех силуэт о буквоград! Запятой курсивных первую собрал но безорфографичный всемогущая необходимыми раз маленькая!</span>
        </div>
      </div>
      <div class="more-products small-2 medium-2 columns">Далеко-далеко за словесными горами в стране.</div>
      <div class="price small-2 medium-2 columns">
      </div>
    </div>

    <div class="product columns">
      <div class="picture small-2 medium-2 columns">

      </div>
      <div class="description small-6 medium-6 columns">
        <h4>Заголовок товара</h4>
        <div class="span">
          <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Агентство, от всех силуэт о буквоград! Запятой курсивных первую собрал но безорфографичный всемогущая необходимыми раз маленькая!</span>
        </div>
      </div>
      <div class="more-products small-2 medium-2 columns">Далеко-далеко за словесными горами в стране.</div>
      <div class="price small-2 medium-2 columns">
      </div>
    </div>

    <div class="product columns">
      <div class="picture small-2 medium-2 columns">

      </div>
      <div class="description small-6 medium-6 columns">
        <h4>Заголовок товара</h4>
        <div class="span">
          <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Агентство, от всех силуэт о буквоград! Запятой курсивных первую собрал но безорфографичный всемогущая необходимыми раз маленькая!</span>
        </div>
      </div>
      <div class="more-products small-2 medium-2 columns">Далеко-далеко за словесными горами в стране.</div>
      <div class="price small-2 medium-2 columns">
      </div>
    </div>

  </div>
</div>
