<footer class = "lok-footer">
<div class="lok-map">
  <i class="fa fa-map fa-2x" aria-hidden="true"></i>
</div>
<div class="lok-addres">
  <h3>Контакты</h3>
  <div class="lok-addres__item">
    <b>Адресс:</b>
    <span>426011, Удмуртская Республика</span>
    <span>г. Ижевск, ул. Майская, д.8, оф.39</span>
    <b>Приемная:</b>
    <span>+7 (3412) 77-66-31</span>
    <b>Бухгалтерия:</b>
    <span>+7 (3412) 77-56-05</span>
    <b>Юридический отдел:</b>
    <span>+7 (3412) 77-67-25</span>
    <b>E-mail:</b>
    <span>office@lider-group.pro</span>
  </div>
</div>
</footer>
