<div class="lok-forms row">
  <div class="lok-forms__title small-12 medium-12 columns">
    <h2>Онлайн заявка</h2>
  </div>

  <div class="lok-forms__discription small-12 medium-6 columns">
    <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Там маленький знаках возвращайся путь на берегу, раз сих, приставка текста.</span>

    <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текстов взгляд букв подпоясал взобравшись мир однажды все, запятой рукопись оксмокс вопрос! Несколько, даль, напоивший!</span>

    <ul>
      <li>-Что то такое</li>
      <li>-Что то эдакое</li>
      <li>-Ну и другая ерунда</li>
    </ul>
  </div>

  <div class="lok-forms__form small-12 medium-6 columns">
    <form class="" action="index.html" method="post">
      <div class="one-form">
        <span>Поле для примера: </span>
        <input type="text" name="" value="">
      </div>
      <div class="two-form">
        <span>Поле для примера: </span>
        <input type="text" name="" value="">
      </div>
    </form>
  </div>

</div>
