<header class="lok-header">
  <div class="lok-header__block block-left">
    <div class="blocks">

      <p class="blocks__header">Первый заголовок</p>
      <p class="blocks__description">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своих, они!</p>
      <p class="blocks__btn-desc">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Великий рыбными проектах вопрос, свою диких которой буквоград меня коварных дороге. Грустный, рукописи, текстами.</p>

      <a href="#" class="blocks__btn">Подробнее</a>

      <a href="#" class="blocks__btn-phone">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Заказать звонок</span>
      </a>

    </div>
  </div>
  <div class="lok-header__block block-right">
    <div class="blocks">

      <p class="blocks__header">Второй заголовок</p>
      <p class="blocks__description">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Своих, они!</p>
      <p class="blocks__btn-desc">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Великий рыбными проектах вопрос, свою диких которой буквоград меня коварных дороге. Грустный, рукописи, текстами.</p>

      <a href="#" class="blocks__btn">Подробнее</a>

      <a href="#" class="blocks__btn-phone">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span>Заказать звонок</span>
      </a>


    </div>
    </div>
  </div>
</header>
