<header class="b-main__head-line">

  <div class="b-mine__wrapper">
    <div class="head-line__contacts">
      <span class="contacts__item"><b>email:</b> <a href="mailto:office@lokomotiv.pro">office@lokomotiv.pro</a></span>
      <span class="contacts__item"><b>адрес:</b> 426011, г. Ижевск, ул. Майская, д.8, оф.39</span>
    </div>
  </div>

  <div class="b-mine__wrapper">
    <div class="main-logo">
      <div class="main-logo__logo">
        <a href="index.html" class="main-logo__logo">
          <span class="logo"><a href="index.html">Локомотив<small>.pro</small></a></span>
        </a>
      </div>
      <div class="main-logo__phone">
        <a href="tel:+7 (922) 500-7-500" class="phone-block__phone">+7 (922) 500-7-500</a>
        <a href="#" class="phone-block__call"><small>Заказать обратный звонок</small></a>
      </div>
    </div>
  </div>

  <div class="b-mine__wrapper">
    <nav class="head-nav">
      <ul class="top-menu">
        <li class="top-menu__item"><a href="index.html">Главная</a></li>
        <li class="top-menu__item dropdown__item">
          <a href="#">Товары</a>
          <ul class="item__drop">
            <li class="drop__item"><a href="#">Песок</a></li>
            <li class="drop__item"><a href="#">Гравий</a></li>
            <li class="drop__item"><a href="#">Щебень</a></li>
            <li class="drop__item"><a href="#">Шлак</a></li>
            <li class="drop__item"><a href="#">ПГС/ОПГС</a></li>
            <li class="drop__item"><a href="#">Торф</a></li>
          </ul>
        </li>
        <li class="top-menu__item"><a href="#">Условия</a></li>
        <li class="top-menu__item"><a href="#">О компании</a></li>
        <li class="top-menu__item"><a href="#">Контакты</a></li>
      </ul>
    </nav>
  </div>

</header>
