<header class="lok-header">
  <div class="lok-header__block block-left">
    <div class="blocks">
      <h1>Заголовок</h1>
      <span class="blocks__text">Краткое описание</span>
      <span class="blocks__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</span>

      <div class="blocks__info">
        <span class="blocks__info__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. </span>
        <span class="blocks__info__text">Парадигматическая своего бросил текстами деревни реторический, имеет. Реторический деревни букв ты подзаголовок, моей буквоград путь.</span>

        <span class="blocks__info__text"></span>
      </div>
      <div class="blocks__btn">
        <span>Подробнее</span>
      </div>
    </div>
  </div>
  <div class="lok-header__block block-right">
    <div class="blocks">
      <h1>Второй заголовок</h1>
      <span class="blocks__text">Краткое описание</span>
      <span class="blocks__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</span>

      <div class="blocks__info">
        <span class="blocks__info__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. </span>
        <span class="blocks__info__text">Парадигматическая своего бросил текстами деревни реторический, имеет. Реторический деревни букв ты подзаголовок, моей буквоград путь.</span>

        <span class="blocks__info__text"></span>
      </div>
      <div class="blocks__btn">
        <span>Подробнее</span>
      </div>
    </div>
    </div>
  </div>
</header>
