<section class="lok-navbar">

  <!-- Логотип "Локомотив.pro" -->
  <h3><a href="#">ЛОКОМОТИВ.pro</a></h3>

  <nav class="lok-navbar__navigation">
    <ul class="navigation">

      <!-- Главная -->
      <li class="navigation__items">
        <a href="#" class="item">Главная</a>
      </li>

      <!-- Товары -->
      <li class="navigation__items">
        <a href="#" class="item">Товары</a>
      </li>

      <!-- Услуги -->
      <li class="navigation__items">
        <a href="#" class="item">Устуги</a>
      </li>

      <!-- О нас -->
      <li class="navigation__items">
        <a href="#" class="item">О нас</a>
      </li>

      <!-- Контакты -->
      <li class="navigation__items">
        <a href="#" class="item">Контакты</a>
      </li>

      <!-- Контактысвязаться с нами -->
      <li class="navigation__items">
        <span class="item"><i class="fa fa-phone" aria-hidden="true"></i>Связаться с нами<i class="fa fa-sort-desc" aria-hidden="true"></i></span>
      </li>

    </ul>
  </nav>

</section>
