<section class="lok-navbar">

  <!-- Логотип "Локомотив.pro" -->
  <h3 class="lok-navbar__logo"><a href="#">ЛОКОМОТИВ.pro</a></h3>

  <nav class="lok-navbar__navigation">
    <ul class="navigation">

      <!-- Главная -->
      <li class="navigation__items">
        <a href="#" class="item">Главная</a>
      </li>

      <!-- Товары -->
      <li class="navigation__items">
        <a href="#" class="item">Товары</a>
        <ul class = "contacts">
          <li><a href="#" class = "contacts__item item">test 1</a></li>
          <li><a href="#" class = "contacts__item item">test 2</a></li>
          <li><a href="#" class = "contacts__item item">test 3</a></li>
          <li><a href="#" class = "contacts__item item">test 4</a></li>
        </ul>
      </li>

      <!-- Услуги -->
      <li class="navigation__items">
        <a href="#" class="item">Устуги</a>
        <ul class = "contacts">
          <li><a href="#" class = "contacts__item item">test 1</a></li>
          <li><a href="#" class = "contacts__item item">test 2</a></li>
          <li><a href="#" class = "contacts__item item">test 3</a></li>
          <li><a href="#" class = "contacts__item item">test 4</a></li>
        </ul>
      </li>

      <!-- О нас -->
      <li class="navigation__items">
        <a href="#" class="item">О нас</a>
      </li>

      <!-- Контакты -->
      <li class="navigation__items">
        <a href="#" class="item">Контакты</a>
      </li>

      <!-- Контактысвязаться с нами -->
      <li class="navigation__items">
        <a href="#" class="item"><i class="fa fa-phone" aria-hidden="true"></i>Связаться с нами<i class="fa fa-sort-desc" aria-hidden="true"></i></a>
        <ul class = "contacts">
          <li><a href="#" class = "contacts__item item">test 1</a></li>
          <li><a href="#" class = "contacts__item item">test 2</a></li>
          <li><a href="#" class = "contacts__item item">test 3</a></li>
          <li><a href="#" class = "contacts__item item">test 4</a></li>
        </ul>
      </li>

    </ul>
  </nav>

</section>
