<div class="lok-sub-header row">
  <div class="lok-sub-header__main-block columns">
    <div class="description-block small-12 medium-4 columns">
      <h2><b>Заголовк продукта</b></h2>

      <div class="text">
        <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Большой первую семантика инициал, текстами.</span>
      </div>

      <div class="content">
        <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Не переулка прямо грустный журчит свой на берегу свою.</span>

        <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жизни продолжил наш, запятой собрал его, всеми страна. Если диких речью путь, знаках продолжил. Рекламных?</span>
      </div>

      <div class="content-btn">
        <span>Некий текст</span>
      </div>

      <a href="#"><div class="btn">
        <span>Подробнее</span>
      </div></a>

    </div>
  </div>
</div>
