<div class="lok-tables row">
  <div class="lok-tables__content small-12 medium-12 columns">
    <div class="lok-title small-12 medium-12 columns">
      <h2><b>Прайс</b></h2>
    </div>
    <div class="lok-table  columns">
      <div class="lok-table__discription"><span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жаренные предложения страну запятых продолжил послушавшись свой, рекламных назад безопасную. Рукописи строчка раз собрал напоивший буквоград наш залетают, пустился обеспечивает, прямо маленькая диких заглавных возвращайся семантика, сих ее! Лучше, заглавных.</span></div>
      <div class="lok-table__title"><h4><b>Нерудные материалы</b></h4></div>
      <div class="lok-some-table columns">
        <table>
          <tr class="name-table">
            <td>Наиминования</td>
            <td>Тип/Фракция</td>
            <td>Цена</td>

          </tr>
          <tr>
            <td>Песок</td>
            <td>
              <ul>
                <li>Карьерный</li>
                <li>Речной</li>
                <li>Для насыпей</li>
              </ul>
            </td>
            <td>от <b>250</b> руб.</td>

          </tr>
          <tr>
            <td>Песок</td>
            <td>
              <ul>
              <li>Карьерный</li>
              <li>Речной</li>
              <li>Для насыпей</li>
            </ul>
          </td>
            <td>от <b>250</b> руб.</td>

          </tr>
          <tr>
            <td>Песок</td>
            <td>
              <ul>
                <li>Карьерный</li>
                <li>Речной</li>
                <li>Для насыпей</li>
              </ul>
            </td>
            <td>от <b>250</b> руб.</td>
          </tr>
          <tr>
            <td>Песок</td>
            <td>
              <ul>
                <li>Карьерный</li>
                <li>Речной</li>
                <li>Для насыпей</li>
              </ul>
            </td>
            <td>от <b>250</b> руб.</td>
          </tr>
          <tr>
            <td>Песок</td>
            <td>
              <ul>
                <li>Карьерный</li>
                <li>Речной</li>
                <li>Для насыпей</li>
              </ul>
            </td>
            <td>от <b>250</b> руб.</td>
          </tr>
          <tr>
            <td>Песок</td>
            <td>
              <ul>
                <li>Карьерный</li>
                <li>Речной</li>
                <li>Для насыпей</li>
              </ul>
            </td>
            <td>от <b>250</b> руб.</td>
          </tr>

        </table>
      </div>

      <div class="lok-table columns">
        <div class="lok-table__discription">
          <span>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жаренные предложения страну запятых продолжил послушавшись свой, рекламных назад безопасную. Рукописи строчка раз собрал напоивший буквоград наш залетают, пустился обеспечивает, прямо маленькая диких заглавных возвращайся семантика, сих ее! Лучше, заглавных.</span>
        </div>
        <div class="lok-table__title"><h4><b>Аренда спецтехники</b></h4></div>
        <div class="lok-some-table columns">
          <table>
            <tr class="name-table">
              <td>Наиминования</td>
              <td>Тип/Фракция</td>
              <td>Цена</td>

            </tr>
            <tr>
              <td>Песок</td>
              <td>
                <ul>
                  <li>Карьерный</li>
                  <li>Речной</li>
                  <li>Для насыпей</li>
                </ul>
              </td>
              <td>от <b>250</b> руб.</td>

            </tr>
            <tr>
              <td>Песок</td>
              <td>
                <ul>
                <li>Карьерный</li>
                <li>Речной</li>
                <li>Для насыпей</li>
              </ul>
            </td>
              <td>от <b>250</b> руб.</td>

            </tr>
            <tr>
              <td>Песок</td>
              <td>
                <ul>
                  <li>Карьерный</li>
                  <li>Речной</li>
                  <li>Для насыпей</li>
                </ul>
              </td>
              <td>от <b>250</b> руб.</td>
            </tr>
            <tr>
              <td>Песок</td>
              <td>
                <ul>
                  <li>Карьерный</li>
                  <li>Речной</li>
                  <li>Для насыпей</li>
                </ul>
              </td>
              <td>от <b>250</b> руб.</td>
            </tr>
            <tr>
              <td>Песок</td>
              <td>
                <ul>
                  <li>Карьерный</li>
                  <li>Речной</li>
                  <li>Для насыпей</li>
                </ul>
              </td>
              <td>от <b>250</b> руб.</td>
            </tr>
            <tr>
              <td>Песок</td>
              <td>
                <ul>
                  <li>Карьерный</li>
                  <li>Речной</li>
                  <li>Для насыпей</li>
                </ul>
              </td>
              <td>от <b>250</b> руб.</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
